[general]
context=unauthenticated
allowguest= {{ asterisk_allow_guests }}
srvlookup=  {{ asterisk_srvlookup }}
udpbindaddr=0.0.0.0
tcpenable=no


[office-phone](!)
type=friend
context=LocalSets
host=dynamic
nat=force_rport,comedia
dtmfmode=auto
disallow=all
allow=g722
allow=ulaw
allow=alaw

[2001](office-phone)
secret=fGjR67JkQ2E

[2002](office-phone)
secret=fGjR67JkQ2E


[customer](!)
type=peer
disallow=all
allow=ulaw

[carrier](!)
type=peer
disallow=all
allow=ulaw

{% set client_extension=0001 %}
{% for client in groups['sipp_client'] %}
[{{client_extension}}](customer)
host={{ hostvars[client].ansible_host }}
{% set client_extension = client_extension + 1 %}
{% endfor %}

{% set client_extension=1000 %}
{% for client in groups['sipp_server'] %}
[{{client_extension}}](carrier)
host={{ hostvars[client].ansible_host }}
{% set client_extension = client_extension + 1 %}
{% endfor %}
